<ion-content class="app-content-bg" text-center>

  <div class="logo" text-start padding>
    <img src="assets/img/logo.png" />
  </div>

  <div class="login-content">
    <h4>Login with</h4>

    <ion-grid class="social-media" no-padding>
      <ion-row>
        <ion-col col-4>
          <ion-fab center>
            <button color="third" ion-fab mini>
              <i class="app-facebook-1"></i>
            </button>
          </ion-fab>
        </ion-col>
        <ion-col col-4>
          <ion-fab center>
            <button color="third" ion-fab mini>
              <i class="app-twitter"></i>
            </button>
          </ion-fab>
        </ion-col>
        <ion-col col-4>
          <ion-fab center>
            <button color="third" ion-fab mini>
              <i class="app-gplus"></i>
            </button>
          </ion-fab>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="form-content">

    <span class="or">OR</span>
    <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
         <!--divs-->
            <div class="row responsive-md">
                <div class="col col-50 col-offset-25">
                        <!---->

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input #email formControlName="email" type="email" placeholder="Your email address"
        [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message"
      *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input #password formControlName="password" type="password" placeholder="Your password"
        [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message"
      *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.dirty">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>

    <button ion-button block type="submit">
      Login
    </button>
                     <button ion-button block clear (click)="goToSignup()">
      Create a new account
    </button>

    <button ion-button block clear (click)="goToResetPassword()">
      I forgot my password
    </button>

   </div>
    </div>

  </form>
    </div>
  </div>


</ion-content>

<ion-footer>
  <ion-fab top right edge>
    <button color="primary" (click)="goToSignup()" ion-fab><ion-icon name="md-person-add"></ion-icon></button>
  </ion-fab>
  <ion-toolbar color="third">
    <button ion-button block type="submit">
      Login
    </button>
  </ion-toolbar>
</ion-footer>
