<ion-header>
   <ion-navbar>
      <ion-title>
         Resultats
      </ion-title>
      <ion-buttons end>
       <button
          ion-button
          icon-only
          (click)="addRecord()">
  	  <ion-icon name="add"></ion-icon>
       </button>
    </ion-buttons>
   </ion-navbar>
</ion-header>

<ion-content padding>

   <ion-list>
      <ion-card
         class="movie"
         text-wrap
         *ngFor="let movie of profiles | async">
         <ion-item>
            <div *ngIf="movie.image">
               <img [src]="movie.image">
            </div>

            <p>{{ movie.description }}</p>




            <section class="multiples">
               <h3>Job</h3>
               <ion-chip
                  *ngFor="let jobtype of movie.jobtype"
                  padding-left
                  padding-right
                  margin-right>{{ jobtype.name }}</ion-chip>
            </section>

         </ion-item>


         <div class="manage-record" padding>
           <button
              ion-button
              text-center
              color="primary"
              (click)="editMovie(profile)">Edit</button>

           <button
              ion-button
              text-center
              color="danger"
              (click)="deleteMovie(profile)">Delete</button>
       </div>

      </ion-card>
   </ion-list>


</ion-content>
