<ion-header>
  <ion-navbar color="primary" hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="md-menu"></ion-icon>
    </button>
    <ion-title text-capitalize>Offres</ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="toolbar-icon search-btn" (click)="toggleSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button (click)="presentFilterPopover($event)" ion-button icon-only class="toolbar-icon">
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar class="search-toolbar" [ngClass]="{'activeSearch':showSearch==true}" no-padding>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
  <button
     ion-button
     icon-only
     (click)="addRecord()">
 <ion-icon name="add"></ion-icon>
  </button>
</ion-header>


<ion-content>
  <ion-card class="main-list" *ngFor="let movie of profiles | async" (click)="goTo('Details')">
    <div class="list-img" [ngStyle]="{'background-image': 'url(' + movie.image + ')'}">

      <ion-grid>
        <ion-row>
          <ion-col col-6 text-left>

          </ion-col>






        </ion-row>
      </ion-grid>
    </div>
    <ion-card-content>
      <ion-card-title class="list-heading" no-padding>
        <h3>Job</h3>
        <ion-chip
           *ngFor="let jobtype of movie.jobtype"
           padding-left
           padding-right
           margin-right>{{ jobtype.name }}</ion-chip>
      </ion-card-title>
      <p class="more-info">
        {{ movie.name }}
        {{ movie.familyname }}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
